<div class="page_content">
    <header class="header">
      <div>
        {{> logo}}
      </div>

      <nav class="header-nav">
         <div class="header-nav-right">
         {{>nav list=header}}
         </div>
      </nav>
    </header>
    
    <main class="main">
      {{#with info}}
         <div class="messages">
            <h1 class="picture-title">{{title}}</h1>
            <p class="mg-text">{{description}}</p>
         </div>
      {{/with}}

      {{#with form}}
         <form class="form">
           <h2 class="form-1">{{title}}</h2>
           <div class="input-list">
             {{#each inputs}}
                <input type="{{type}}" placeholder="{{placeholder}}" class="input" name="{{name}}" id="input-1{{id}}">
             {{/each}}
           </div>

           <div class="checkbox-block">
             <input type="checkbox" name="{{checkbox.name}}" id="{{checkbox.name}}">
             <div></div>
             <label for="{{checkbox.name}}" class="checkbox-label">{{checkbox.label}}</label>
           </div>

           <button type="submit" class="form-3">{{button}}</button>
           <p class="form-2">{{info}}</p>
         </form>
      {{/with}}
    </main>

    <div class="adventure">
      {{#with updates}}
         <div class="adventure-1">
            <strong class="adventure-title">{{title}}</strong>
            {{#each list}}
               <div class="clas">
                  <div class="cool">32x32</div>
                  <span class="adventure-name">@username</span>
               </div>
               <p class="adventure-text">{{description}}</p>
            {{/each}}
            {{#with show_all}}
               <a href="{{url}}" class="id">{{text}}</a>
            {{/with}}
         </div>
      {{/with}}
    </div>

  <div class="paddi">
    {{#with expirience}}
      <div class="paddi-main">
        <h2 class="picture-3">{{title}}</h2>
        <h3 class="paddi-2">{{badge}}</h3>
      </div>
    {{/with}}

    <div class="adventure-picture">
      {{#with expirience}}
           {{#each list}}
             <div class="adventure-main">
               <strong class="adventure-title-2">{{name}}</strong>
               <p class="adventure-text-2">{{details}}</p>
             </div>
           {{/each}}
      {{/with}}
    </div>
  </div>


    <footer class="footer">
      <div>
        {{> logo}}
        <span class="footer-copy">Coppyright 2023-2024</span>
      </div>

      {{#each footer}}
          <div class="">
              <span class="footer-title">{{title}}</span>
              {{>nav list=links isVertical=true}}
          </div>
      {{/each}}
    </footer>
</div>